.body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(360deg, rgba(255, 241, 241, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);
    
}

.container{
    position: relative;
    margin: auto;
}

.text-center {
    text-align: center;
  }
  :root{
      --hovercolor:#ff9800;
  }

  .button{
      border: 2px solid var(--hovercolor);
      box-sizing: border-box;
      border-radius: 46px;
      text-decoration: none;
      font-style: bold;

      &--pink{
        background: rgba(250, 86, 82, 0.15);
        border: rgba(250, 86, 82, 0.15);
        border-radius: 65px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FA5652;
        padding: 21px 49px 23px 51px;

        &:hover{
            color: #FA5652;
            text-shadow: 2px -2px 3px #000;
        }
      }

      &--red{
        background-color: var(--hovercolor);
        color: #FFFFFF;
        padding: 24px 57px 28px 66px;

        &:hover{
            color: #FFFFFF;
            font-style: bold;
            text-shadow: 2px -2px 3px #000;
            
        }
        
    }
     
      &--white{
        color: var(--hovercolor);
        padding: 16px 45px 17px;
        

        &:hover{
            color: var(--hovercolor);
            font-style: bold;
            transform: scale(1.03);

        }
      
      }
      &__send{
        
            position: absolute;
            background: #F44A45;
            border-radius: 157px;
            border: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            color: #FFFFFF;
            padding:10px 30px;
            right: 320px;
            bottom: 15px;
            
           
        
      }
  }

.title{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    

    &__page-1{
       
        font-size: 32px;
        line-height: 122%;
        margin-bottom: 29px;
        max-width: 450px;
        display: block;
    }

    &__page-2{
        
        font-size: 50px;
        line-height: 119%;
        text-transform: capitalize;
        color: #035755;
        margin-bottom: 18px;
        max-width: 288px;
    }
    &__card{
        font-weight: 500;
        font-size: 36px;
        line-height: 147%;
        text-transform: capitalize;
        color: #035755;
        margin: auto;        
    }
    &__page-4{
        text-align: center;
        color: #035755;
        font-size: 50px;
        line-height: 119%;
    }
    &__page-5{
        text-align: center;
        color: #035755;
        font-size: 50px;
        line-height: 119%;

    }
    &__poly{
        font-weight: 500;
        font-size: 47px;
        line-height: 147%;
        color: #035755;
        margin-bottom: 20px;
        margin-top: 20px;

        &__number{
            padding: 10px;
            margin-right: 40px;
            background:rgba(#FA5652, 0.15);
            color: #FA5652;
            border-radius: 100%;
            font-size: 44px;
            line-height: 145%;
        }
    }
    &__page-6{
        max-width: 660px;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 77px;
        text-align: center;
        color: #0C6C44;
        margin: auto;
        margin-bottom: 62px;
    }
}

.subtitle{
    color: #FA5652;

    &__page-1{
        display: block;
        margin-top: 146px;
        max-width: 450;
    }
    &__page-2{
        font-style: normal;
        font-weight: bold;
        font-size: 29px;
        line-height: 124%;
        max-width: 288px;

    }
    &__page-4{
        font-size: 29px;
        line-height: 124%;
        text-align: center;
    }
    &__page-5{
        text-align: center;
        font-size: 29px;
        line-height: 124%;

    }
}

.desc{
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
    color: #4B4F51;

    &__page-1{
        font-size: 24px;
        line-height: 190%;
        margin-bottom: 54px;
        max-width: 641px;
        display: block;
    }
    &__page-2{

        font-size: 20px;
        line-height: 215%;
        margin-bottom: 56px;
        max-width: 648px;
    }
    &__card{
        font-size: 18px;
        line-height: 185%;
        text-align: center;
        
    }
    &__page-4{
        font-size: 18px;
        line-height: 215%;
        text-align: center;
        max-width: 700px;
        margin: auto;
    }
    &__page-5{
        font-size: 18px;
        line-height: 215%;
        text-align: center;
        max-width: 650px;
        margin: auto;

    }
    &__poly{
        font-size: 18px;
        line-height: 221%;
    }
}

.card{
    border: 3px solid #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(20, 9, 10, 0.1);
    margin-bottom: 35px;
    padding: 30px;

     &__img{
         margin: auto;
         margin-bottom: 55px;
     }

     &:hover{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
        background-position: 0 100%;
        background-size: auto 6px;
        background-repeat: repeat-x;
        cursor: pointer;
     }

}

.header{
    margin-top: 31px;
    margin-bottom: 31px;

    .nav-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .nav{
            margin-top: 52px;

            &__item{
                
                color: black;
                border: 3px solid #FFFFFF;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 40px;
                opacity: 0.7;
                background: linear-gradient(to bottom, var(--hovercolor) 0%, var(--hovercolor) 100%);
                background-position: 0 100%;
                background-repeat: repeat-x;
                background-size: 3px 3px;
                text-decoration: none;
  

                &:not(:last-child){
                    margin-right: 40px;
                }
                &:hover{
                    opacity: 1;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                    background-position: 0 100%;
                    background-size: auto 6px;
                    background-repeat: repeat-x;
                    text-decoration: none;
                }
                &--active{
                    opacity: 1;
                    color: var(--hovercolor);
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                    background-position: 0 100%;
                    background-size: auto 6px;
                    background-repeat: repeat-x;
                    text-decoration: none;
                }

            }
        }
    }
}  
.page-1{
    

    &__image{
        align-items: center;
        margin-top: 80px;
        display: block;
        max-width: 450px;
    
        img {
          max-width: 100%;
        }
    }
}
.page-2{
     margin-top: 150px;
    .row{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__image{
        display: block;
        max-width: 650px;

        img{
            max-width: 100%;
        }
    }
}
.page-3{
    margin-top: 150px;
    margin-bottom: 150px;

    .up{
        align-items: center;
        text-align: center;
        max-width: 550px;
        margin: auto; 
        margin-bottom: 110px;       
    }
}
.page-4{
    margin-bottom: 150px;
    display: block;
    max-width: 1167px;
    margin: auto;

    img {
      max-width: 100%;
    }
}
.page-5{
    margin-top: 150px;

    .up{
        margin-bottom: 70px;
    }
    .row{
        display: flex;
        align-items: center;

        &:nth-child(odd){
            flex-direction: row-reverse;
        }
        &__poly-img{
            display: block;
            max-width: 650px;
            margin-top: 20px;
    
            img{
                max-width: 100%;
            }

        }

    }
}
.page-6{
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
   

    &__mail{
        text-align: center;
        

        .input{
            min-width: 750px;
            background-color: var(--hovercolor);
            padding: 20px;
            border: none;
            margin: auto;
            box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
            border-radius: 57px;
            padding:30px 40px;
            outline: none;
            font-size: 14px;
        }
        
    }

}

.footer{
    text-align: center;
    padding-bottom: 50px;

    .row{
          &__logo{
            margin-top: 30px;
            margin-bottom: 10px;
          }  

        &__item{
            font-style: normal;           
            text-decoration: none;
            font-weight: normal;
            font-size: 23px;
            line-height: 28px;
            color: #00402E;

            &:not(:last-child){
                margin-right: 40px;
            }
        }
        &__social{
            text-align: center;
            margin: auto;
            margin-top: 35px;
    
            a:not(:last-of-type){
                margin-right: 15px;
            }
        }

    }
    p{
        margin-top: 67px;
    }
}




@media screen and (min-width: 1024px) {  
    .header {
        position: relative;
      .nav-wrap {
        flex-direction: row;
        justify-content: space-between;
        .nav{
            margin-left: 418px;
        }
        .button{
            margin: 0;
        }
      }
    }

  .page-1{

    &__title {       
        max-width: 650px;
        margin-top: 130px;
        
      }

      &__desc{
          max-width: 380px;
      }

      &__image{
          max-width: 900px;
          margin-top: -450px;
          margin-left: 500px;
         

      }
  }
  .page-2{

    .row{
        display: flex;
        align-items: center;
        flex-direction: row; }
    }  
}